/*&__img {
    width: 100%;
    display: block;
    background-size: cover;
    max-width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    cursor: pointer;


}

&__img:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);


}*/