.link {
    &__svg1 {
        width: 47px;
        height: 43px;
        margin-right: 9px;

    }

    &__svg2 {
        width: 53px;
        height: 47px;
    }

    &__svg3 {
        width: 53px;
        height: 53px;
        margin-top: 24px;
    }

    &__svg4 {
        width: 54px;
        height: 54px;
        margin-top: 24px;
    }
}