.blog {
  background-color: #b07cf7;
  padding-top: 122px;
  padding-bottom: 120px; }
  .blog__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    font-size: 9rem;
    font-weight: 700;
    line-height: 25px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 62px; }
  .blog__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
    padding-bottom: 70px;
    text-align: center; }
  .blog__img {
    display: block;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    z-index: 0;
    margin-bottom: 20px; }
  .blog__month {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 800;
    line-height: 25px; }
  .blog__date {
    position: absolute;
    top: 30px;
    left: 45px;
    z-index: 2;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    width: 60px;
    height: 60px;
    background-color: rgba(38, 38, 38, 0.5);
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .blog__subtitle {
    position: absolute;
    bottom: 13%;
    left: 34px;
    /* flex-direction: column;
        display: flex;*/
    padding-right: inherit; }
  .blog__author {
    padding-top: 5%;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 300;
    pointer-events: none; }
  .blog__topic {
    font-size: 20px;
    font-weight: 700;
    color: white;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
    pointer-events: none; }
  .blog__btn {
    width: 200px;
    height: 55px;
    background-color: #f72b3b;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    border: none;
    margin-top: 31px; }
  .blog__btn:hover {
    background-color: rgba(255, 255, 255, 0.705);
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: #f72b3b; }
  .blog__img:hover {
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7); }

@media screen and (max-width: 575px) {
  .blog__col {
    padding-top: 70px;
    padding-bottom: 70px; }
  .blog {
    padding-top: 68px;
    padding-bottom: 40px; } }
