.link__svg1 {
  width: 47px;
  height: 43px;
  margin-right: 9px; }

.link__svg2 {
  width: 53px;
  height: 47px; }

.link__svg3 {
  width: 53px;
  height: 53px;
  margin-top: 24px; }

.link__svg4 {
  width: 54px;
  height: 54px;
  margin-top: 24px; }
