.nav__item {
  margin-left: 38px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__link {
  color: #262626;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px; }

.nav__link:hover {
  position: relative; }

.nav__link:hover:before {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  height: 3px;
  background-color: #ff6033;
  bottom: 25px; }

.nav__icon {
  color: #262626;
  font-size: 25px; }

.nav__times {
  color: #262626;
  font-size: 25px;
  z-index: 2;
  position: relative; }

.nav__checkbox {
  display: none; }

.nav__checkbox:checked + .nav__burger > .nav__times {
  display: block; }

.nav__checkbox + .nav__burger > .nav__times {
  display: none; }

.nav__checkbox + .nav__burger > .nav__icon {
  display: block; }

.nav__checkbox:checked + .nav__burger > .nav__icon {
  display: none; }

@media screen and (max-width: 767px) {
  .nav {
    /*.header__logo {
            position: relative;


        }

        /*transition: 0.2s;
        */ }
    .nav .nav__list {
      overflow: hidden;
      z-index: 1;
      padding-top: 0;
      height: 0;
      -webkit-transition: ease .3s;
      -o-transition: ease .3s;
      transition: ease .3s;
      background-color: #ff6033;
      border: 0.4px solid #262626;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border: none; }
    .nav__checkbox:checked + .nav__burger + .nav__list {
      display: block;
      padding-top: 115px;
      height: 331px; }
    .nav .nav__item {
      margin: 0;
      border: 0.4px solid #262626; }
    .nav .nav__link {
      color: #262626;
      line-height: 34px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
