.services {
  background-color: #70BFFF;
  padding-bottom: 133px; }
  .services__name {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-negative: 6;
    flex-shrink: 6; }
  .services__link {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #262626;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .services__item {
    background-color: white;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-bottom: 20px; }
  .services__item:first-child {
    margin-top: 179px; }
  .services__item:hover {
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); }
  .services__title {
    color: white;
    font-size: 9rem;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    top: 320px;
    left: 43px;
    text-align: center; }
  .services__bg {
    position: relative;
    padding-top: 100px;
    margin-left: 110px; }
  .services__border {
    height: 100px;
    width: 100px;
    border-left: 1px solid #9d9d9d; }

@media screen and (max-width: 991px) {
  .services__bg {
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    margin-left: auto;
    position: relative;
    margin-top: 15%; }
  .services__title {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; } }

@media screen and (max-width: 575px) {
  .services__item:first-child {
    margin-top: 5%; }
  .services__bg {
    width: 40%;
    margin: 0;
    padding: 0;
    padding-top: 10%; }
  .services__title {
    position: absolute;
    left: 25%;
    top: 50%; }
  .services {
    padding-bottom: 5%; } }
